name: CI
on: [push]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install npm dependencies
        run: |
          npm ci
      - name: Lint
        run: |
          npm run lint
      - name: Run tests
        run: |
          npm run test:ci

  release:
    needs:
      - test
    name: Build & Release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
      - name: Configure CI Git User
        run: |
          git config --global user.name 'TheUnderScorer'
          git config --global user.email 'przemyslawzydek@gmail.com'
          git remote set-url origin https://TheUnderScorer:$GITHUB_TOKEN@github.com/TheUnderScorer/sweetie
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install npm dependencies
        run: |
          npm ci
      - name: Build Android
        run: |
          npm run build:android
      - name: Upload Artifact
        id: upload_artifact_android
        uses: actions/upload-artifact@v1
        with:
          name: Sweetie.apk
          path: android/app/build/outputs/apk/release/app-release.apk
      - name: Semantic Release
        run: |
          npm run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
